/****** General ***********/

html {
    scroll-behavior: smooth;
}
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container{
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    margin: 0px;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

a {
    cursor: default;
}

/* NAV */
nav{
    width: 100%;
    display: flex;
}

nav img{
    height: 19px;
    padding: 30px 0px ;
}

.nav-link {
    width: 100%;   
    display: flex;
    justify-content: flex-end;
    gap: 68px;
    padding: 0px 50px; 
}

.nav-link a{
    padding-top: 10px;
}
.nav-link a:hover{
    color:#0065FC ;
    border-top:3px solid #0065FC; 
}


/* Header */
header{
    width: 100%;
}

.formulaire{
    width: 377px;
    margin-top: 50px;
    display: flex;
    align-items: center; 
    overflow: hidden;
    border-radius: 15px;
}
.formulaire img{
    padding: 17px;
    background-color: #F2F2F2;
    border-top-left-radius:15px;
    border-bottom-left-radius: 15px;
}
.formulaire input{
    flex: 1;
    padding: 17px;
    border: none;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
}
.formulaire input::placeholder{
    font-size: 18px;
    font-weight: 700;
    color: #000;
    
}
.formulaire button{
    color: #f1f1f1;
    padding: 15px 15px 15px 15px;
    background-color: #0065FC;
    border: none;
    border-bottom-right-radius: 15px;
    border-top-right-radius:15px ;
    font-size: 18px;
    font-weight: 700;
}

/* Filtre */

.filtre-button{
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 15px;

}
.filtre-button button{
    display: flex;
    height: 50px;
    width: 180px;
    align-items: center;
    background-color: #fff;
    border-radius: 50px;
    padding-top: 4px;
    padding-left: 19px;
    padding-bottom: 4px;
    padding-right: 19px;
    font-size: 17px;
    font-weight: 700;
}
.filtre-button img{
    padding-right: 8px;
}

.filtre-button button:hover{
    background-color: #DEEBFF;
}

.infobar{
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 10px;
}
.infobar img{
    border: 1px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    gap: 40px;
}

/****** Hebergements ***********/
#hebergements {
    width: 65%;
}

.section-hebergements .section-title{
padding-bottom: 25px;
}

.hebergements-card{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.hebergements-card .card{
    width: 250px ;
    margin-top: 33px;
}

.hebergements-card .card img{
width: 100%;
height: 124px;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
} 
.hebergements-card .card-content{
    padding-left: 5px;
}
.hebergements-card .card-rating{
    padding-left: 5px;
    margin-bottom: 5px;
}
.section-hebergements h3{
    padding-top: 15px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/* Activitées */

#activitees{
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;
    padding: 0 50px;
    margin: 0 auto;
}

.activitees-title{
    margin-top: 80px;
    padding-bottom: 25px;
}
.activitees{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding-bottom: 50px;
}
.activitees .card{ 
    width: 100%;
    padding: 0;

}
.activitees .card img{
    width: 100%;
    height: 380px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px ;

}
.activitees h3{
    padding: 20 19px;
}

/* footer */
footer p{
    font-size: 16px;
    font-weight: 400;
}

footer{
   display: flex;
   justify-content: space-evenly;
    background-color: #F2F2F2;
    padding: 30px;
}
.section-footer{
    display: flex;
    flex-direction: column;
    gap: 15px;
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
        width: 100%;
    }

    #hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .hebergements-card {
        width:100%;
        height: auto;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .section-activitees{
        width: 100%;
        max-width: 1024px;

    }
    .activitees .card{  
        height: 270px;
    }
    .activitees .card img {     
        height: 200px;
    }
    .activitees .card h3{
        padding: 0 0 15 19px;
    }
    
    
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    
    body{
        margin: 0px;
    }
    
   .main-container{
    padding: 0;
   }
   header, main{
    padding-left: 10px;
    padding-right: 10px;
   }
   nav{
    flex-direction: column; 
   }
    
   nav img {
   width: 62px;
   height: 19px;
   margin: auto;
   }
   .nav-link{
    margin-top: 15px;
    justify-content: center;
    justify-content: space-evenly;
    padding: 0px;
    padding-bottom: 10px;
   }
   .filtre-button{
    flex-wrap: wrap;
    justify-content: center;
   }
   .filtre-title{
    width: 100%;
   }
    
   .headline{
    padding-top:40px;
   }
     .hebergements-card .card,
    .activitees .card {
        width: 100%;
    }

   .populaires{
    order: 1;
   }
   #hebergements{
    order: 2;
    margin-top: 50px;
   }
   .activitees{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    }
    
    .card{
        width: 100%; 
    }
    
    .populaires-cards{
        flex-wrap: wrap;
        height: auto;
        flex-direction: column;
        width: 100%;
        

    }
    .hebergements-card a, .populaires-cards a{
        width: 100%;
        flex-direction: column;
        margin: 0 10 0 10px;
    }

    
    .populaires-cards img {
        width: 30%;
    
}
 footer{
    width: 100%;
    padding: 0;
    margin: 0;
    flex-direction: column;
    padding-bottom: 50px;
   }
 .section-footer{
    padding-left: 70px;
 }
}